.container{

    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 5px;

}

.caixa1{

    background-color: lightblue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2{

    background-color: lightgoldenrodyellow;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3{

    background-color: #c0fcc0;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}