.container{

    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 5px;

}

.caixa1{

    background-color: lightblue;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2{

    background-color: lightgoldenrodyellow;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.caixa3{

    background-color: #c0fcc0;
    grid-area: 2 / 3 / 4 / 5;
}